/*  your css code here. If applicable */
#container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.hero-img{
	width: 300px;
	height: 150px; 
	display: flex;
	object-fit: cover;
}
.hero{
	flex: 1;	
}
.head{
	flex: 2;
	margin-top: 10px;
	margin-left: 60px;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.hero > img{
	display: flex;
	width: 700px;
	height: 400px;
}
img > .desc{
	margin-left: 10px;
}
.btn{
	color: white;
	background-color: red;
	border: none;
	border-radius: 4px;
	flex-direction: row;
}